html, body {
    margin: 0;
    height: 100%;
    background: #06080A;
}
  
#canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    background: #06080A;
}

h1 {
  color: white;
}